body {
    background-color: white;
}

#artist_list {
    color: black;
    font-size: 30px;
    font-family: monospace;
}

.delete-btn {
    background-color: skyblue;
}

#artist_input {
    background-color: blanchedalmond;
}